.app-component {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  background-color: turquoise;
  gap: 20px;
}

h3 {
  text-align: center;
}

.userContainer {
  padding: 0 30px;
  flex-grow: 1;
  background-color: brown;
}
.orderContainer {
  flex-grow: 1;
}
