/* .user-list {
  height: 90%;
  background-color: rgb(198, 255, 85);
} */

esercizio1-user-single {
  display: flex;
  justify-content: center;
  background-color: rgb(238, 234, 175);
  width: 90%;
  /* border: 2px solid rgb(179, 179, 47); */
  align-items: center;
}
